#myProgress {
width: 100%;
background-color: #b0bec5;
cursor: pointer;
border-radius: 50px;
}
#myBar {
width: 0%;
height: 15px;
background-color: var(--color-primary-dark);
border-radius: 10px;
}
.btn-action{
cursor: pointer;
padding-top: 20px;
width: 65px;
color: var(--color-primary-dark);
}
.btn-ctn, .infos-ctn{
display: flex;
align-items: center;
justify-content: center;
}
.infos-ctn{
padding-top: 0px;
align-items: center;
justify-content: center;
}
.btn-ctn > div {
padding: 0px 0;
}
.infos-ctn > div {
color: #ffc266;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
display: flex;
justify-content: space-between;
margin: 0 auto;
}
.fa-step-backward{
margin-left: 2px;
background:linear-gradient( #141414, #303030);
padding: 0px 0;
border-color:#000000;
border-radius:  40px 10px 10px 40px;
border-width: 0.2em;
}
.fa-step-forward{
background:linear-gradient( #141414, #303030);
padding: 0px 0;
border-color:#000000;
border-radius:  10px 40px 40px 10px;
border-width: 0.2em;
}
.fa-play{
background:linear-gradient( #141414, #303030);
padding: 0px 0;
border-color:#000000;
border-radius:  10px 10px 10px 10px;
border-width: 0.2em;
}
.fa-pause{
background:linear-gradient( #141414, #303030);
padding: 0px 0;
border-color:#000000;
border-radius:  10px 10px 10px 10px;
border-width: 0.2em;
}
.duration{
margin-left: 5px;
}
.title{
margin-left: 10px;
width: 210px;
text-align: center;
}
.player-ctn{
border-radius: 0px 0px 30px 30px;
width: 100%;
max-width: 900px;
padding: 10px;
margin:auto;
border-color:  var(--color-primary);
border-width: 5px;
border-style: solid;
box-shadow: #000 0px 0px 3px 0px;
}
.bannertitle div {
background: linear-gradient(var(--color-primary-darker),var(--color-primary-light));
border-radius: 30px 30px 0px 0px;
width: 100%;
max-width: 900px;
padding: 10px;
margin:auto;
border-color:  var(--color-primary);
border-width: 5px;
border-style: solid;
color: #ffb03a;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
.playlist-track-ctn{
display: flex;
margin-top: 3px;
border-radius: 5px;
cursor: pointer;
}
.playlist-track-ctn:last-child{
border: transparent;
}
.playlist-track-ctn > div{
margin:10px;
}
.playlist-info-track{
width: 100%;
}
.playlist-info-track,.playlist-duration{
font-size: 15px;
font-weight: 500;
pointer-events: none;
}
.playlist-ctn{
padding-bottom: 20px;
}
.active-track{
background: var(--color-primary-100);
font-weight: bold;
}
.active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
color: #ffffff !important;
text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}
.playlist-btn-play{
pointer-events: none;
padding-top: 0px;
padding-bottom: 0px;
}
.fas{
color: var(--color-primary);
font-size: 14px;
background:transparent;
border-color: transparent;
box-shadow: transparent;
}

